:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle, #272b4d 0%, #202123 100%);
  overflow-x: hidden;
  color: #b4b4b4;
}
#ai-response {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.icon {
  width: 34px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
ul {
  list-style: none;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: relative;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
.result {
  font-weight: bold;
  padding-top: 250px;
}

#main {
  width: 100%;
  min-height: 100vh;
}

/* #app, .appBox {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Navigation */

.nav {
  height: 10vh;
  display: flex;
  align-items: center;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  color: #b4b4b4;
  text-transform: uppercase;
  margin-right: 2rem;
}

.form-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

form > input {
  margin-bottom: 1rem;
}

h1 {
  line-height: 2rem;
  text-align: center;
  color: #b4b4b4;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 0 .5rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}





/* Chatbot */



/* Chat */

p, span {
  color: #d5d5d5;
}

#chatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transform-origin: bottom right;
}

#chatButton > svg {
  transform: scale(1.5) rotateY(180deg);
}

#chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  transform: scale(0);
  transform-origin: bottom right;
}

#chatClose {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.chat-header {
  display: flex;
  background: #c20000;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.chat-header h4 {
  width: 100%;
  text-align: center;
}

.chat-body {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  padding: 0.5rem;
  border-radius: 0 0 10px 10px;
}

.chat-messages {
  flex-grow: 1;
  height: 300px;
  overflow: auto;
}

.chat-messages::-webkit-scrollbar {
  width: 5px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background: #202123;
}

.chat-messages::-webkit-scrollbar-track {
  background: #b2b2b2;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background: #272b4d;
}

.chat-submit form {
  width: auto;
}

.chat-submit input[type="text"] {
  margin: 0;
}

.chat-message {
  display: block;
}

.chat-question {
  color: black;
  margin-bottom: 0.25rem;
}

.chat-answer {
  color: #8d8d8d;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  height: 90vh;
  gap: 2rem;
  align-items: center;
}

.header-left {
  width: 50%;
}

.header-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right img {
  width: 80%;
  height: 80%;
}

.header-left h1 {
  text-align: left;
  margin-bottom: .5rem;
  font-size: 5rem;
  line-height: 5rem;
  color: #ff7c7c;
}

.secondary-header {
  color: #ff7c7c;
  text-align: center;
  font-size: 3rem;
}

.header-descriptive {
  margin-top: .5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #f5f5f5;;
}

.show-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(2);
  cursor: pointer;
}

.show-more > svg {
  transform: translate(0px, 0px);
}

.text-content {
  background: #121212;
}

.content-block { 
  padding: 4rem;
}

.content-desc {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.services {
  display: flex;
  gap: 2%;
  padding: 0;
  justify-content: center;
  padding: 4rem 0 0;
  margin: 0;
}

.service {
  width: 18%;
  height: 300px;
  text-align: center;
  background: #d5d5d5;
  border-radius: 2px;
  padding: 2rem 0;
}

.service-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: space-between;
  height: 100%;
}

.price-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  height: 100%;
}

.service span {
  color: #121212;
}

.service a {
  color: #272b4d;
  font-weight: 600;
}

.service .services-image {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service .services-image img {
  width: 80%;
  height: 80%;
}

.prices {
  padding-bottom: 4rem;
}

.prices .prices-image {
  display: flex;
  height: 40%;
  padding-bottom: 1rem;
}

.prices span, .price a {
  height: 20%;
  display: flex;
  justify-content: center;
}

.price a > div {
  align-self: flex-end;
}

.price-starting {
  padding-top: 1rem;
}


.who-we-are .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-left img {
  width: 70%;
  height: 70%;
  filter: contrast(0.2);
}

.block-right {
  width: 50%;
}

.block-right .secondary-header {
  text-align: left;
}

.block-right .content-desc {
  text-align: left;
  max-width: 100%;
}



.circles {
  width: 70%;
  padding-bottom: 70%;
  position: relative;
  perspective: 50000px;
  color: #61dafb;
}

.circles span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background: currentColor;
  width: 18.4%;
  height: 18.4%;
  border-radius: 50%;
}

.circles div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 13.32px solid;
  border-right: 5.123076px solid;
  border-top: 13.32px solid transparent;
  border-radius: 100%;
}

.circles div:nth-child(1) {
  animation: anim-1 2s linear infinite;
}

.circles div:nth-child(2) {
  animation: anim-2 2s linear infinite;
}

.circles div:nth-child(3) {
  animation: anim-3 2s linear infinite;
}

@keyframes anim-1 {
  from {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0);
  }
  to {
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes anim-2 {
  from {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0);
  }
  to {
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
  }
}

@keyframes anim-3 {
  from {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0);
  }
  to {
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
  }
}



.loader {
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -150px;
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: .25rem solid rgba(255,255,255, 0.2);
  border-top-color: rgb(255,255,255);
  animation: spin 1s infinite linear;
  position: absolute;
  top: 17px;
  left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@media only screen and (max-width: 850px) {
  .header-left { 
    width: 100%;
  }
  .header-right {
    display: none;
  }
}




/* PTL Audio */

.start-button-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.start-button-container button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  /* border: 1px solid #080828; */
  border: none;
  background: rgb(214 214 214);
  cursor: pointer;
  animation: gradient 3s ease infinite;
  animation-play-state: paused;
  position: relative;
  transform-style: preserve-3d;
}

.recBorder {
  position: absolute;
  left: 50%;
  top: -3px;
  height: 106px;
  width: 106px;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  border-radius: 50%;
  transform: rotate(0deg) translateX(-50%);
  transform-origin: left;
  z-index: -1;
  animation: rotateElement 3s linear infinite;
  animation-play-state: paused;
}

.start-button-container button:hover + .recBorder {
  animation-play-state: running;
}

.start-button-container button:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation-play-state: running;
  background-size: 400% 400%;
}

@keyframes rotateElement {
	100% {
		transform: rotate(360deg) translateX(-50%);
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}